<div class="row">
  <div class="col-lg-12">
    <h1>Cart</h1>
  </div>

  <div class="col-lg-12">
    <table class="table cart-orders">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Size</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders; let index = index;">
          <td>
            <img class="preview-img" src="{{item.imageUrl}}" alt="">
            <span class="ml-5">{{item.name}}</span>
          </td>
          <td><input type="number" [(ngModel)]="orders[index].quantity"/></td>
          <td>{{item.selectedSize}}</td>
          <td>{{item.selectedPrice | currency}}</td>
          <td>{{item.selectedPrice * item.quantity | currency}}</td>
          <td><i class="fa fa-trash-o remove-cart-item" (click)="removeItemFromOrder(index)"></i></td>
        </tr>
        <tr *ngIf="orders.length < 1">
          <td colspan="6" class="text-center">No Items Added to Cart</td>
        </tr>
        <tr *ngIf="orders.length > 0" class="summary-row font-weight-bold">
          <td colspan="4" class='text-right'>Total:&nbsp;</td>
          <td colspan="2">{{totalAmount | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Button trigger modal -->
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cartConfirmation" [disabled]="!orders" >
      Submit
    </button>
  </div>


</div>

<!-- Modal Dialog -->
<div class="modal fade" id="cartConfirmation" tabindex="-1" role="dialog" aria-labelledby="cartConfirmation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
      </div>
      <div class="modal-body">
        <p>Do you want to confirm your order?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="submitOrders()" >Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
